td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}


.table {
    table-layout: fixed;
}

td:first-of-type, td:first-of-type > div {
    height: 100%;
    width: 100%
}